<ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Comprar Ticket", "#" %></li>
    <li><%= link_to "Histórico de Compra", "#" %></li>
    <li><%= link_to "Cardápio Semanal", "https://goo.gl/gwQhbs" %></li>
    <li><%= link_to "Sair", "#" %></li>
  </ul>
  
<h2>Olá <%= @user.name %></h2>

<h1 class= "center">Tickets Disponíveis</h1>
<div class = "center jumbotron">
    <ul class="nav">
        <li>Desejum: </li>
        <li>Almoço: </li>
        <li>Jantar: </li>
    </ul>
</div>













