<!DOCTYPE html>
<html>
<head>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="441548618167-39ia832rbg5pgmtivib9klqe7u32vllq.apps.googleusercontent.com">
  <title>ZillaApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

<%= yield %>
<%= debug(params) if Rails.env.development? %>

</body>
</html>
